<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script
          src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>

  <script type="text/javascript" src="/js/etudiant.js"></script>
  <link rel="stylesheet" type="text/css"  href="/css/etudiantlist.css">


  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>




  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">



</head><!--  ****************************************fin head********************************************* -->


<!--  ****************************************debut nav********************************************* -->
<div class="topnav">
  <a class="active" href="#home">Accueil</a>
  <a href="#">Les Etudiants</a>
  <a href="#">Gestion des notes</a>
  <a href="#">Les Elements</a>



</div><br>  <!--  ****************************************fin nav********************************************* -->

<div class="container ">
  <body> <!--  ****************************************debut body********************************************* -->







  <div class="table-wrapper" id="DataTable">
    <div class="table-title">

      <div class="row">
        <div class="col-sm-8"><h2>Etudiant <b>Details</b></h2></div>

        <div class="search-box">
          <div class="input-group">
            <input type="text" id="search" class="form-control" placeholder="Chercher par nom">
            <span class="input-group-addon"><i class="material-icons">&#xE8B6;</i></span>
          </div>
        </div>

      </div>
    </div>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Etudiant</th>
        <th>Filiere</th>
        <th>Element</th>
        <th>Note CC</th>
        <th>Note Tp</th>
        <th>Note Projet</th>
        <th>Action</th>

      </tr>
      </thead>
      <tbody>
      <tr>
        <td>zineb lahib</td>
        <td>GI</td>
        <td>Swing</td>
        <td>
          <input type="number" name='mobile[]' placeholder='Note CC' class="form-control"/>
        </td>
        <td>
          <input type="number" name='mobile[]' placeholder='Note TP' class="form-control"/>
        </td>
        <td>
          <input type="number" name='mobile[]' placeholder='Note Projet' class="form-control"/>
        </td>

        <td>
          <a class="add" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a>
          <a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
          <a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
        </td>
      </tr>



      <tr>
        <td>wahiba ignammas</td>
        <td>GI</td>
        <td>Swing</td>
        <td>
          <input type="number" name='mobile[]' placeholder='Note CC' class="form-control"/>
        </td>
        <td>
          <input type="number" name='mobile[]' placeholder='Note TP' class="form-control"/>
        </td>
        <td>
          <input type="number" name='mobile[]' placeholder='Note Projet' class="form-control"/>
        </td>

        <td>
          <a class="add" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a>
          <a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
          <a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
        </td>
      </tr>


      <tr>
        <td>wiam ragani</td>
        <td>GI</td>
        <td>Swing</td>
        <td>
          <input type="number" name='mobile[]' placeholder='Note CC' class="form-control"/>
        </td>
        <td>
          <input type="number" name='mobile[]' placeholder='Note TP' class="form-control"/>
        </td>
        <td>
          <input type="number" name='mobile[]' placeholder='Note Projet' class="form-control"/>
        </td>

        <td>
          <a class="add" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a>
          <a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
          <a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
        </td>
      </tr>



      </tbody>
    </table>
  </div>
  </div>

<div class="">
  <button type="button" class="btn btn-danger add-new"><i class="fa fa-plus"></i> Add New</button>
</div>
<div class="">
  <button type="button" class="btn btn-info "><i class="fa fa"></i> Valider</button>
</div>

<button type="button" class="btn btn-success  mt-2 xl-exp" onclick="ExportToExcel('xlsx')" id="expor">Exporter en Excel</button>








</body><!--  ****************************************fin body********************************************* -->
</html>
