<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <title>login</title>
</head>
<body>
<div class="container">
    <div class="contact-box">
        <div class="left"></div>
        <div class="right">
            <h2>Connectez vous</h2><br>
            <input type="text" class="field" placeholder="Email">
            <input type="text" class="field" placeholder="Mot De Passe">
            <label class="remember">
                <input type="checkbox" checked="checked" > Restez connecté?
            </label>
            <button class = "btn">Se connecter</button>
        </div>
    </div>
</div>
</body>
</html>